// Deserialises to a LoadingConfig struct.
(
    atlases: {
        NotFound: "not_found.ron",
        LevelSelect: "level_select.ron",
        Ladder: "ladder.ron",
        Frame: "frame.ron",
        Blocks: "blocks.ron",
        Tools: "tools.ron",
        Door: "door.ron",
        PlayerAnims: "player_anims.ron",
        EnemyAnims: "enemy_anims.ron",
        Background: "background.ron",
        BackgroundHeads: "background_heads.ron",
        BackgroundEyes: "background_eyes.ron",
        Spawner: "spawner.ron",
        RevolvingDoor: "revolving_door.ron",
    },
    sound_effects: {
        Jump:"jump.ogg",
        Step:"step",
        LadderStep: "ladder",
        MapStep: "map_step.ogg",
        // CannotPerformAction:"nonono.ogg",
        Mining:"mining.ogg",
        PickupTool:"tool_pickup",
        PickupKey:"collect_key.ogg",
        PickupLastKey:"exit_door_open.ogg",
        Win: "win/",
        LvlReset:"lvl_reset",
        Death:"death.ogg",
        GameOver:"game_over.ogg",
        LevelSelect:"level_select.ogg",
        SpawnerOpenClose: "grinding.ogg",
        TrapWallCreated: "short_grind.ogg",
    },
    music: {
        Menu: "menu.ogg",
        InGame: "in_game.ogg",
    },
)