#![enable(implicit_some)]
(
    map: {
        "Player":(
            depth: Player,
            dimens: ((2, 2)),
            unique: true,
            mandatory: true,
            asset: (PlayerAnims, 0),
            preview_asset: (PlayerAnims, 2),
            archetype: Player,
            sturdiness: Invulnerable,
        ),
        "Block1":(
            depth: Blocks,
            dimens: ((1, 1)),
            unique: false,
            mandatory: false,
            collision: (
                collides_top: true,
                collides_side: true,
                collides_bottom: true,
            ),
            asset: (Blocks, 0),
            sturdiness: Invulnerable,
        ),
        "Block2":(
            depth: Blocks,
            dimens: ((1, 1)),
            unique: false,
            mandatory: false,
            collision: (
                collides_top: true,
                collides_side: true,
                collides_bottom: true,
            ),
            asset: (Blocks, 1),
            sturdiness: Breakable,
        ),
        "TrapWall":(
            depth: Blocks,
            dimens: ((1, 1)),
            unique: false,
            mandatory: false,
            collision: (
                collides_top: false,
                collides_side: false,
                collides_bottom: false,
            ),
            preview_asset: (LevelSelect, 0),
            sturdiness: Invulnerable,
            archetype: TrapWall,
        ),
        "RevolvingDoorFacingNegative":(
            depth: Blocks,
            dimens: ((2, 1)),
            unique: false,
            mandatory: false,
            collision: (
                collides_top: true,
                collides_side: true,
                collides_bottom: true,
            ),
            asset: (RevolvingDoor, 0),
            sturdiness: Invulnerable,
            archetype: RevolvingDoor(Negative),
        ),
        "RevolvingDoorFacingPositive":(
            depth: Blocks,
            dimens: ((2, 1)),
            unique: false,
            mandatory: false,
            collision: (
                collides_top: true,
                collides_side: true,
                collides_bottom: true,
            ),
            asset: (RevolvingDoor, 0),
            sturdiness: Invulnerable,
            archetype: RevolvingDoor(Positive),
        ),
        "RevolvingDoorNonColliding":(
            depth: Blocks,
            dimens: ((2, 1)),
            unique: false,
            mandatory: false,
            collision: (
                collides_top: true,
                collides_side: false,
                collides_bottom: true,
            ),
            preview_asset: (NotFound, 0),
            sturdiness: Invulnerable,
            archetype: RevolvingDoor(Positive),
        ),
        "Ladder":(
            depth: Blocks,
            dimens: ((2, 1)),
            unique: false,
            mandatory: false,
            climbable: true,
            collision: (
                collides_top: true,
                collides_side: false,
                collides_bottom: false,
            ),
            asset: (Ladder, 0),
            sturdiness: Invulnerable,
        ),
        "Key":(
            depth: FloatingBlocks,
            dimens: ((2, 2)),
            unique: false,
            mandatory: false,
            collision: (
                collides_top: false,
                collides_side: false,
                collides_bottom: false,
            ),
            asset: (Tools, 6),
            archetype: Key,
            sturdiness: Invulnerable,
        ),
        "ToolPickaxe":(
            depth: FloatingBlocks,
            dimens: ((2, 2)),
            unique: false,
            mandatory: false,
            collision: (
                collides_top: false,
                collides_side: false,
                collides_bottom: false,
            ),
            asset: (Tools, 0),
            archetype: Tool(BreakBlocksBelow(2)),
            sturdiness: Invulnerable,
        ),
        "ToolShovel":(
            depth: FloatingBlocks,
            dimens: ((2, 2)),
            unique: false,
            mandatory: false,
            collision: (
                collides_top: false,
                collides_side: false,
                collides_bottom: false,
            ),
            asset: (Tools, 1),
            archetype: Tool(BreakBlocksBelow(1)),
            sturdiness: Invulnerable,
        ),
        "ToolDrill":(
            depth: FloatingBlocks,
            dimens: ((2, 2)),
            unique: false,
            mandatory: false,
            collision: (
                collides_top: false,
                collides_side: false,
                collides_bottom: false,
            ),
            asset: (Tools, 2),
            archetype: Tool(BreakBlocksHorizontally(2)),
            sturdiness: Invulnerable,
        ),
        "ToolHammer":(
            depth: FloatingBlocks,
            dimens: ((2, 2)),
            unique: false,
            mandatory: false,
            collision: (
                collides_top: false,
                collides_side: false,
                collides_bottom: false,
            ),
            asset: (Tools, 3),
            archetype: Tool(BreakBlocksHorizontally(1)),
            sturdiness: Invulnerable,
        ),
        "ToolKnife":(
            depth: FloatingBlocks,
            dimens: ((2, 2)),
            unique: false,
            mandatory: false,
            collision: (
                collides_top: false,
                collides_side: false,
                collides_bottom: false,
            ),
            asset: (Tools, 4),
            // archetype: Tool(BreakBlocksHorizontally(1)),
            sturdiness: Invulnerable,
        ),
        "Door":(
            depth: Blocks,
            dimens: ((4, 4)),
            unique: true,
            mandatory: true,
            collision: (
                collides_top: false,
                collides_side: false,
                collides_bottom: false,
            ),
            asset: (Door, 0),
            archetype: Door,
            sturdiness: Invulnerable,
        ),
        "Spawner":(
            depth: Blocks,
            dimens: ((2, 3)),
            unique: false,
            mandatory: false,
            collision: (
                collides_top: false,
                collides_side: false,
                collides_bottom: false,
            ),
            asset: (Spawner, 0),
            archetype: Spawner,
            sturdiness: Invulnerable,
        ),
    }
)