(
    world_bounds: ((
        pos: ((-32, -18)),
        dimens: ((64, 42)),
    )),
    tiles: {
        ((-30, -8)): "Block1",
        ((-30, -7)): "Block1",
        ((-30, -6)): "Block1",
        ((-30, -5)): "Block1",
        ((-30, -4)): "Block1",
        ((-30, -3)): "Block1",
        ((-30, -2)): "Block1",
        ((-30, -1)): "Block1",
        ((-30, 0)): "Block1",
        ((-30, 1)): "Block1",
        ((-30, 2)): "Block1",
        ((-30, 3)): "Block1",
        ((-30, 4)): "Block1",
        ((-30, 5)): "Block1",
        ((-30, 6)): "Block1",
        ((-30, 7)): "Block1",
        ((-30, 8)): "Block1",
        ((-30, 9)): "Block1",
        ((-30, 10)): "Block1",
        ((-30, 11)): "Block1",
        ((-30, 12)): "Block1",
        ((-30, 13)): "Block1",
        ((-29, -8)): "Block1",
        ((-29, -7)): "Block1",
        ((-29, -6)): "Block1",
        ((-29, -5)): "Block1",
        ((-29, -4)): "Block1",
        ((-29, -3)): "Block1",
        ((-29, -2)): "Block1",
        ((-29, -1)): "Block1",
        ((-29, 0)): "Block1",
        ((-29, 1)): "Block1",
        ((-29, 2)): "Block1",
        ((-29, 3)): "Block1",
        ((-29, 4)): "Block1",
        ((-29, 5)): "Block1",
        ((-29, 6)): "Block1",
        ((-29, 7)): "Block1",
        ((-29, 8)): "Block1",
        ((-29, 9)): "Block1",
        ((-29, 10)): "Block1",
        ((-29, 11)): "Block1",
        ((-29, 12)): "Block1",
        ((-29, 13)): "Block1",
        ((-28, -8)): "Block1",
        ((-28, -7)): "Block1",
        ((-28, -6)): "Block1",
        ((-28, -5)): "Block1",
        ((-28, -4)): "Block1",
        ((-28, -3)): "Block1",
        ((-28, -2)): "Block1",
        ((-28, -1)): "Block1",
        ((-28, 0)): "Block1",
        ((-28, 1)): "Block1",
        ((-28, 2)): "Block1",
        ((-28, 3)): "Block1",
        ((-28, 4)): "Block1",
        ((-28, 5)): "Block1",
        ((-28, 6)): "Block1",
        ((-28, 7)): "Block1",
        ((-28, 8)): "Block1",
        ((-28, 9)): "Block1",
        ((-28, 10)): "Block1",
        ((-28, 11)): "Block1",
        ((-28, 12)): "Block1",
        ((-28, 13)): "Block1",
        ((-27, -8)): "Block1",
        ((-27, -7)): "Block1",
        ((-27, -6)): "Block1",
        ((-27, -5)): "Block1",
        ((-27, -4)): "Block1",
        ((-27, -3)): "Block1",
        ((-27, -2)): "Block1",
        ((-27, -1)): "Block1",
        ((-27, 0)): "Block1",
        ((-27, 1)): "Block1",
        ((-27, 2)): "Block1",
        ((-27, 3)): "Block1",
        ((-27, 4)): "Block1",
        ((-27, 5)): "Block1",
        ((-27, 6)): "Block1",
        ((-27, 7)): "Block1",
        ((-27, 8)): "Block1",
        ((-27, 9)): "Block1",
        ((-27, 10)): "Block1",
        ((-27, 11)): "Block1",
        ((-27, 12)): "Block1",
        ((-27, 13)): "Block1",
        ((-26, -8)): "Block1",
        ((-26, -7)): "Block1",
        ((-26, -6)): "Block1",
        ((-26, -5)): "Block1",
        ((-26, -4)): "Block1",
        ((-26, -3)): "Block1",
        ((-26, -2)): "Block1",
        ((-26, -1)): "Block1",
        ((-26, 0)): "Player",
        ((-26, 10)): "Block1",
        ((-26, 11)): "Block1",
        ((-26, 12)): "Block1",
        ((-26, 13)): "Block1",
        ((-25, -8)): "Block1",
        ((-25, -7)): "Block1",
        ((-25, -6)): "Block1",
        ((-25, -5)): "Block1",
        ((-25, -4)): "Block1",
        ((-25, -3)): "Block1",
        ((-25, -2)): "Block1",
        ((-25, -1)): "Block1",
        ((-25, 10)): "Block1",
        ((-25, 11)): "Block1",
        ((-25, 12)): "Block1",
        ((-25, 13)): "Block1",
        ((-24, -8)): "Block1",
        ((-24, -7)): "Block1",
        ((-24, -6)): "Block1",
        ((-24, -5)): "Block1",
        ((-24, -4)): "Block1",
        ((-24, -3)): "Block1",
        ((-24, -2)): "Block1",
        ((-24, -1)): "Block1",
        ((-24, 0)): "Ladder",
        ((-24, 1)): "Ladder",
        ((-24, 2)): "Ladder",
        ((-24, 3)): "Ladder",
        ((-24, 4)): "Ladder",
        ((-24, 5)): "Ladder",
        ((-24, 10)): "Block1",
        ((-24, 11)): "Block1",
        ((-24, 12)): "Block1",
        ((-24, 13)): "Block1",
        ((-23, -8)): "Block1",
        ((-23, -7)): "Block1",
        ((-23, -6)): "Block1",
        ((-23, -5)): "Block1",
        ((-23, -4)): "Block1",
        ((-23, -3)): "Block1",
        ((-23, -2)): "Block1",
        ((-23, -1)): "Block1",
        ((-23, 10)): "Block1",
        ((-23, 11)): "Block1",
        ((-23, 12)): "Block1",
        ((-23, 13)): "Block1",
        ((-22, -8)): "Block1",
        ((-22, -7)): "Block1",
        ((-22, -6)): "Block1",
        ((-22, -5)): "Block1",
        ((-22, -4)): "Block1",
        ((-22, -3)): "Block1",
        ((-22, -2)): "Block1",
        ((-22, -1)): "Block1",
        ((-22, 4)): "Block1",
        ((-22, 5)): "Block1",
        ((-22, 10)): "Block1",
        ((-22, 11)): "Block1",
        ((-22, 12)): "Block1",
        ((-22, 13)): "Block1",
        ((-21, -8)): "Block1",
        ((-21, -7)): "Block1",
        ((-21, -6)): "Block1",
        ((-21, -5)): "Block1",
        ((-21, -4)): "Block1",
        ((-21, -3)): "Block1",
        ((-21, -2)): "Block1",
        ((-21, -1)): "Block1",
        ((-21, 4)): "Block1",
        ((-21, 5)): "Block1",
        ((-21, 10)): "Block1",
        ((-21, 11)): "Block1",
        ((-21, 12)): "Block1",
        ((-21, 13)): "Block1",
        ((-20, -8)): "Block1",
        ((-20, -7)): "Block1",
        ((-20, -6)): "Block1",
        ((-20, -5)): "Block1",
        ((-20, -4)): "Block1",
        ((-20, -3)): "Block1",
        ((-20, -2)): "Block1",
        ((-20, -1)): "Block1",
        ((-20, 4)): "Block1",
        ((-20, 5)): "Block1",
        ((-20, 8)): "Block1",
        ((-20, 9)): "Block1",
        ((-20, 10)): "Block1",
        ((-20, 11)): "Block1",
        ((-20, 12)): "Block1",
        ((-20, 13)): "Block1",
        ((-19, -8)): "Block1",
        ((-19, -7)): "Block1",
        ((-19, -6)): "Block1",
        ((-19, -5)): "Block1",
        ((-19, -4)): "Block1",
        ((-19, -3)): "Block1",
        ((-19, -2)): "Block1",
        ((-19, -1)): "Block1",
        ((-19, 4)): "Block1",
        ((-19, 5)): "Block1",
        ((-19, 8)): "Block1",
        ((-19, 9)): "Block1",
        ((-19, 10)): "Block1",
        ((-19, 11)): "Block1",
        ((-19, 12)): "Block1",
        ((-19, 13)): "Block1",
        ((-18, -8)): "Block1",
        ((-18, -7)): "Block1",
        ((-18, -6)): "Block1",
        ((-18, -5)): "Block1",
        ((-18, -4)): "Block1",
        ((-18, -3)): "Block1",
        ((-18, -2)): "Block1",
        ((-18, -1)): "Block1",
        ((-18, 4)): "Block1",
        ((-18, 5)): "Block1",
        ((-18, 6)): "ToolDrill",
        ((-18, 10)): "Block1",
        ((-18, 11)): "Block1",
        ((-18, 12)): "Block1",
        ((-18, 13)): "Block1",
        ((-17, -8)): "Block1",
        ((-17, -7)): "Block1",
        ((-17, -6)): "Block1",
        ((-17, -5)): "Block1",
        ((-17, -4)): "Block1",
        ((-17, -3)): "Block1",
        ((-17, -2)): "Block1",
        ((-17, -1)): "Block1",
        ((-17, 4)): "Block1",
        ((-17, 5)): "Block1",
        ((-17, 10)): "Block1",
        ((-17, 11)): "Block1",
        ((-17, 12)): "Block1",
        ((-17, 13)): "Block1",
        ((-16, -8)): "Block1",
        ((-16, -7)): "Block1",
        ((-16, -6)): "Block1",
        ((-16, -5)): "Block1",
        ((-16, -4)): "Block1",
        ((-16, -3)): "Block1",
        ((-16, -2)): "Block1",
        ((-16, -1)): "Block1",
        ((-16, 0)): "Block2",
        ((-16, 1)): "Block2",
        ((-16, 2)): "Block1",
        ((-16, 3)): "Block1",
        ((-16, 4)): "Block1",
        ((-16, 5)): "Block1",
        ((-16, 10)): "Block1",
        ((-16, 11)): "Block1",
        ((-16, 12)): "Block1",
        ((-16, 13)): "Block1",
        ((-15, -8)): "Block1",
        ((-15, -7)): "Block1",
        ((-15, -6)): "Block1",
        ((-15, -5)): "Block1",
        ((-15, -4)): "Block1",
        ((-15, -3)): "Block1",
        ((-15, -2)): "Block1",
        ((-15, -1)): "Block1",
        ((-15, 0)): "Block2",
        ((-15, 1)): "Block2",
        ((-15, 2)): "Block1",
        ((-15, 3)): "Block1",
        ((-15, 4)): "Block1",
        ((-15, 5)): "Block1",
        ((-15, 10)): "Block1",
        ((-15, 11)): "Block1",
        ((-14, -8)): "Block1",
        ((-14, -7)): "Block1",
        ((-14, -6)): "Block1",
        ((-14, -5)): "Block1",
        ((-14, -2)): "Block1",
        ((-14, -1)): "Block1",
        ((-14, 4)): "Block1",
        ((-14, 5)): "Block1",
        ((-13, -8)): "Block1",
        ((-13, -7)): "Block1",
        ((-13, -6)): "Block1",
        ((-13, -5)): "Block1",
        ((-13, -2)): "Block1",
        ((-13, -1)): "Block1",
        ((-13, 4)): "Block1",
        ((-13, 5)): "Block1",
        ((-12, -2)): "Block1",
        ((-12, -1)): "Block1",
        ((-12, 0)): "Key",
        ((-12, 4)): "Block1",
        ((-12, 5)): "Block1",
        ((-12, 10)): "Block1",
        ((-12, 11)): "Block1",
        ((-11, -2)): "Block1",
        ((-11, -1)): "Block1",
        ((-11, 4)): "Block1",
        ((-11, 5)): "Block1",
        ((-11, 10)): "Block1",
        ((-11, 11)): "Block1",
        ((-10, -8)): "Block1",
        ((-10, -7)): "Block1",
        ((-10, -6)): "Block1",
        ((-10, -5)): "Block1",
        ((-10, -4)): "Ladder",
        ((-10, -3)): "Ladder",
        ((-10, -2)): "Ladder",
        ((-10, -1)): "Ladder",
        ((-10, 4)): "Block1",
        ((-10, 5)): "Block1",
        ((-10, 6)): "Block1",
        ((-10, 7)): "Block1",
        ((-10, 8)): "Block1",
        ((-10, 9)): "Block1",
        ((-10, 10)): "Block1",
        ((-10, 11)): "Block1",
        ((-9, -8)): "Block1",
        ((-9, -7)): "Block1",
        ((-9, -6)): "Block1",
        ((-9, -5)): "Block1",
        ((-9, 4)): "Block1",
        ((-9, 5)): "Block1",
        ((-9, 6)): "Block1",
        ((-9, 7)): "Block1",
        ((-9, 8)): "Block1",
        ((-9, 9)): "Block1",
        ((-9, 10)): "Block1",
        ((-9, 11)): "Block1",
        ((-8, -8)): "Block1",
        ((-8, -7)): "Block1",
        ((-8, -6)): "Block1",
        ((-8, -5)): "Block1",
        ((-8, -4)): "ToolPickaxe",
        ((-8, -2)): "Block1",
        ((-8, -1)): "Block1",
        ((-8, 0)): "Block1",
        ((-8, 1)): "Block1",
        ((-8, 2)): "Block1",
        ((-8, 3)): "Block1",
        ((-8, 4)): "Block1",
        ((-8, 5)): "Block1",
        ((-8, 6)): "Block1",
        ((-8, 7)): "Block1",
        ((-8, 8)): "Block1",
        ((-8, 9)): "Block1",
        ((-8, 10)): "Block1",
        ((-8, 11)): "Block1",
        ((-7, -8)): "Block1",
        ((-7, -7)): "Block1",
        ((-7, -6)): "Block1",
        ((-7, -5)): "Block1",
        ((-7, -2)): "Block1",
        ((-7, -1)): "Block1",
        ((-7, 0)): "Block1",
        ((-7, 1)): "Block1",
        ((-7, 2)): "Block1",
        ((-7, 3)): "Block1",
        ((-7, 4)): "Block1",
        ((-7, 5)): "Block1",
        ((-7, 6)): "Block1",
        ((-7, 7)): "Block1",
        ((-7, 8)): "Block1",
        ((-7, 9)): "Block1",
        ((-7, 10)): "Block1",
        ((-7, 11)): "Block1",
        ((-6, -8)): "Block1",
        ((-6, -7)): "Block1",
        ((-6, -2)): "Block1",
        ((-6, -1)): "Block1",
        ((-6, 8)): "Block1",
        ((-6, 9)): "Block1",
        ((-6, 10)): "Block1",
        ((-6, 11)): "Block1",
        ((-5, -8)): "Block1",
        ((-5, -7)): "Block1",
        ((-5, -2)): "Block1",
        ((-5, -1)): "Block1",
        ((-5, 8)): "Block1",
        ((-5, 9)): "Block1",
        ((-5, 10)): "Block1",
        ((-5, 11)): "Block1",
        ((-4, -8)): "Block1",
        ((-4, -7)): "Block1",
        ((-4, -2)): "Block1",
        ((-4, -1)): "Block1",
        ((-4, 8)): "Block1",
        ((-4, 9)): "Block1",
        ((-4, 10)): "Block1",
        ((-4, 11)): "Block1",
        ((-3, -8)): "Block1",
        ((-3, -7)): "Block1",
        ((-3, -2)): "Block1",
        ((-3, -1)): "Block1",
        ((-3, 8)): "Block1",
        ((-3, 9)): "Block1",
        ((-3, 10)): "Block1",
        ((-3, 11)): "Block1",
        ((-2, -8)): "Block1",
        ((-2, -7)): "Block1",
        ((-2, -2)): "Block1",
        ((-2, -1)): "Block1",
        ((-2, 0)): "Door",
        ((-2, 8)): "Block1",
        ((-2, 9)): "Block1",
        ((-2, 10)): "Block1",
        ((-2, 11)): "Block1",
        ((-1, -8)): "Block1",
        ((-1, -7)): "Block1",
        ((-1, -6)): "Key",
        ((-1, -2)): "Block1",
        ((-1, -1)): "Block1",
        ((-1, 8)): "Block1",
        ((-1, 9)): "Block1",
        ((-1, 10)): "Block1",
        ((-1, 11)): "Block1",
        ((0, -8)): "Block1",
        ((0, -7)): "Block1",
        ((0, -2)): "Block1",
        ((0, -1)): "Block1",
        ((0, 8)): "Block1",
        ((0, 9)): "Block1",
        ((0, 10)): "Block1",
        ((0, 11)): "Block1",
        ((1, -8)): "Block1",
        ((1, -7)): "Block1",
        ((1, -2)): "Block1",
        ((1, -1)): "Block1",
        ((1, 8)): "Block1",
        ((1, 9)): "Block1",
        ((1, 10)): "Block1",
        ((1, 11)): "Block1",
        ((2, -8)): "Block1",
        ((2, -7)): "Block1",
        ((2, -2)): "Block1",
        ((2, -1)): "Block1",
        ((2, 8)): "Block1",
        ((2, 9)): "Block1",
        ((2, 10)): "Block1",
        ((2, 11)): "Block1",
        ((3, -8)): "Block1",
        ((3, -7)): "Block1",
        ((3, -2)): "Block1",
        ((3, -1)): "Block1",
        ((3, 8)): "Block1",
        ((3, 9)): "Block1",
        ((3, 10)): "Block1",
        ((3, 11)): "Block1",
        ((4, -8)): "Block1",
        ((4, -7)): "Block1",
        ((4, -2)): "Block1",
        ((4, -1)): "Block1",
        ((4, 8)): "Block1",
        ((4, 9)): "Block1",
        ((4, 10)): "Block1",
        ((4, 11)): "Block1",
        ((5, -8)): "Block1",
        ((5, -7)): "Block1",
        ((5, -2)): "Block1",
        ((5, -1)): "Block1",
        ((5, 8)): "Block1",
        ((5, 9)): "Block1",
        ((5, 10)): "Block1",
        ((5, 11)): "Block1",
        ((6, -8)): "Block1",
        ((6, -7)): "Block1",
        ((6, -6)): "Block1",
        ((6, -5)): "Block1",
        ((6, -2)): "Block1",
        ((6, -1)): "Block1",
        ((6, 0)): "Block2",
        ((6, 1)): "Block2",
        ((6, 2)): "Block1",
        ((6, 3)): "Block1",
        ((6, 4)): "Block1",
        ((6, 5)): "Block1",
        ((6, 6)): "Block1",
        ((6, 7)): "Block1",
        ((6, 8)): "Block1",
        ((6, 9)): "Block1",
        ((6, 10)): "Block1",
        ((6, 11)): "Block1",
        ((7, -8)): "Block1",
        ((7, -7)): "Block1",
        ((7, -6)): "Block1",
        ((7, -5)): "Block1",
        ((7, -2)): "Block1",
        ((7, -1)): "Block1",
        ((7, 0)): "Block2",
        ((7, 1)): "Block2",
        ((7, 2)): "Block1",
        ((7, 3)): "Block1",
        ((7, 4)): "Block1",
        ((7, 5)): "Block1",
        ((7, 6)): "Block1",
        ((7, 7)): "Block1",
        ((7, 8)): "Block1",
        ((7, 9)): "Block1",
        ((7, 10)): "Block1",
        ((7, 11)): "Block1",
        ((8, -8)): "Block1",
        ((8, -7)): "Block1",
        ((8, -6)): "Block1",
        ((8, -5)): "Block1",
        ((8, -4)): "Ladder",
        ((8, -3)): "Ladder",
        ((8, -2)): "Ladder",
        ((8, -1)): "Ladder",
        ((8, 4)): "Block1",
        ((8, 5)): "Block1",
        ((8, 6)): "Block1",
        ((8, 7)): "Block1",
        ((8, 8)): "Block1",
        ((8, 9)): "Block1",
        ((8, 10)): "Block1",
        ((8, 11)): "Block1",
        ((9, -8)): "Block1",
        ((9, -7)): "Block1",
        ((9, -6)): "Block1",
        ((9, -5)): "Block1",
        ((9, 4)): "Block1",
        ((9, 5)): "Block1",
        ((9, 6)): "Block1",
        ((9, 7)): "Block1",
        ((9, 8)): "Block1",
        ((9, 9)): "Block1",
        ((9, 10)): "Block1",
        ((9, 11)): "Block1",
        ((10, -2)): "Block1",
        ((10, -1)): "Block1",
        ((10, 0)): "Key",
        ((10, 4)): "Block1",
        ((10, 5)): "Block1",
        ((10, 10)): "Block1",
        ((10, 11)): "Block1",
        ((11, -2)): "Block1",
        ((11, -1)): "Block1",
        ((11, 4)): "Block2",
        ((11, 5)): "Block2",
        ((11, 10)): "Block1",
        ((11, 11)): "Block1",
        ((12, -8)): "Block1",
        ((12, -7)): "Block1",
        ((12, -6)): "Block1",
        ((12, -5)): "Block1",
        ((12, -2)): "Block1",
        ((12, -1)): "Block1",
        ((12, 4)): "Block2",
        ((12, 5)): "Block2",
        ((13, -8)): "Block1",
        ((13, -7)): "Block1",
        ((13, -6)): "Block1",
        ((13, -5)): "Block1",
        ((13, -2)): "Block1",
        ((13, -1)): "Block1",
        ((13, 4)): "Block1",
        ((13, 5)): "Block1",
        ((14, -8)): "Block1",
        ((14, -7)): "Block1",
        ((14, -6)): "Block1",
        ((14, -5)): "Block1",
        ((14, -4)): "Block1",
        ((14, -3)): "Block1",
        ((14, -2)): "Block1",
        ((14, -1)): "Block1",
        ((14, 2)): "Block1",
        ((14, 3)): "Block1",
        ((14, 4)): "Block1",
        ((14, 5)): "Block1",
        ((14, 10)): "Block1",
        ((14, 11)): "Block1",
        ((15, -8)): "Block1",
        ((15, -7)): "Block1",
        ((15, -6)): "Block1",
        ((15, -5)): "Block1",
        ((15, -4)): "Block1",
        ((15, -3)): "Block1",
        ((15, -2)): "Block1",
        ((15, -1)): "Block1",
        ((15, 2)): "Block1",
        ((15, 3)): "Block1",
        ((15, 4)): "Block1",
        ((15, 5)): "Block1",
        ((15, 10)): "Block1",
        ((15, 11)): "Block1",
        ((15, 12)): "Block1",
        ((15, 13)): "Block1",
        ((16, -8)): "Block1",
        ((16, -7)): "Block1",
        ((16, -6)): "Block1",
        ((16, -5)): "Block1",
        ((16, -4)): "Block1",
        ((16, -3)): "Block1",
        ((16, -2)): "Block1",
        ((16, -1)): "Block1",
        ((16, 4)): "Block1",
        ((16, 5)): "Block1",
        ((16, 6)): "ToolDrill",
        ((16, 10)): "Block1",
        ((16, 11)): "Block1",
        ((16, 12)): "Block1",
        ((16, 13)): "Block1",
        ((17, -8)): "Block1",
        ((17, -7)): "Block1",
        ((17, -6)): "Block1",
        ((17, -5)): "Block1",
        ((17, -4)): "Block1",
        ((17, -3)): "Block1",
        ((17, -2)): "Block1",
        ((17, -1)): "Block1",
        ((17, 4)): "Block1",
        ((17, 5)): "Block1",
        ((17, 10)): "Block1",
        ((17, 11)): "Block1",
        ((17, 12)): "Block1",
        ((17, 13)): "Block1",
        ((18, -8)): "Block1",
        ((18, -7)): "Block1",
        ((18, -6)): "Block1",
        ((18, -5)): "Block1",
        ((18, -4)): "Block1",
        ((18, -3)): "Block1",
        ((18, -2)): "Block1",
        ((18, -1)): "Block1",
        ((18, 4)): "Block1",
        ((18, 5)): "Block1",
        ((18, 6)): "Block1",
        ((18, 7)): "Block1",
        ((18, 10)): "Block1",
        ((18, 11)): "Block1",
        ((18, 12)): "Block1",
        ((18, 13)): "Block1",
        ((19, -8)): "Block1",
        ((19, -7)): "Block1",
        ((19, -6)): "Block1",
        ((19, -5)): "Block1",
        ((19, -4)): "Block1",
        ((19, -3)): "Block1",
        ((19, -2)): "Block1",
        ((19, -1)): "Block1",
        ((19, 4)): "Block1",
        ((19, 5)): "Block1",
        ((19, 6)): "Block1",
        ((19, 7)): "Block1",
        ((19, 10)): "Block1",
        ((19, 11)): "Block1",
        ((19, 12)): "Block1",
        ((19, 13)): "Block1",
        ((20, -8)): "Block1",
        ((20, -7)): "Block1",
        ((20, -6)): "Block1",
        ((20, -5)): "Block1",
        ((20, -4)): "Block1",
        ((20, -3)): "Block1",
        ((20, -2)): "Block1",
        ((20, -1)): "Block1",
        ((20, 4)): "Block1",
        ((20, 5)): "Block1",
        ((20, 10)): "Block1",
        ((20, 11)): "Block1",
        ((20, 12)): "Block1",
        ((20, 13)): "Block1",
        ((21, -8)): "Block1",
        ((21, -7)): "Block1",
        ((21, -6)): "Block1",
        ((21, -5)): "Block1",
        ((21, -4)): "Block1",
        ((21, -3)): "Block1",
        ((21, -2)): "Block1",
        ((21, -1)): "Block1",
        ((21, 4)): "Block1",
        ((21, 5)): "Block1",
        ((21, 10)): "Block1",
        ((21, 11)): "Block1",
        ((21, 12)): "Block1",
        ((21, 13)): "Block1",
        ((22, -8)): "Block1",
        ((22, -7)): "Block1",
        ((22, -6)): "Block1",
        ((22, -5)): "Block1",
        ((22, -4)): "Block1",
        ((22, -3)): "Block1",
        ((22, -2)): "Block1",
        ((22, -1)): "Block1",
        ((22, 0)): "Ladder",
        ((22, 1)): "Ladder",
        ((22, 2)): "Ladder",
        ((22, 3)): "Ladder",
        ((22, 4)): "Ladder",
        ((22, 5)): "Ladder",
        ((22, 10)): "Block1",
        ((22, 11)): "Block1",
        ((22, 12)): "Block1",
        ((22, 13)): "Block1",
        ((23, -8)): "Block1",
        ((23, -7)): "Block1",
        ((23, -6)): "Block1",
        ((23, -5)): "Block1",
        ((23, -4)): "Block1",
        ((23, -3)): "Block1",
        ((23, -2)): "Block1",
        ((23, -1)): "Block1",
        ((23, 10)): "Block1",
        ((23, 11)): "Block1",
        ((23, 12)): "Block1",
        ((23, 13)): "Block1",
        ((24, -8)): "Block1",
        ((24, -7)): "Block1",
        ((24, -6)): "Block1",
        ((24, -5)): "Block1",
        ((24, -4)): "Block1",
        ((24, -3)): "Block1",
        ((24, -2)): "Block1",
        ((24, -1)): "Block1",
        ((24, 10)): "Block1",
        ((24, 11)): "Block1",
        ((24, 12)): "Block1",
        ((24, 13)): "Block1",
        ((25, -8)): "Block1",
        ((25, -7)): "Block1",
        ((25, -6)): "Block1",
        ((25, -5)): "Block1",
        ((25, -4)): "Block1",
        ((25, -3)): "Block1",
        ((25, -2)): "Block1",
        ((25, -1)): "Block1",
        ((25, 10)): "Block1",
        ((25, 11)): "Block1",
        ((25, 12)): "Block1",
        ((25, 13)): "Block1",
        ((26, -8)): "Block1",
        ((26, -7)): "Block1",
        ((26, -6)): "Block1",
        ((26, -5)): "Block1",
        ((26, -4)): "Block1",
        ((26, -3)): "Block1",
        ((26, -2)): "Block1",
        ((26, -1)): "Block1",
        ((26, 0)): "Block1",
        ((26, 1)): "Block1",
        ((26, 2)): "Block1",
        ((26, 3)): "Block1",
        ((26, 4)): "Block1",
        ((26, 5)): "Block1",
        ((26, 6)): "Block1",
        ((26, 7)): "Block1",
        ((26, 8)): "Block1",
        ((26, 9)): "Block1",
        ((26, 10)): "Block1",
        ((26, 11)): "Block1",
        ((26, 12)): "Block1",
        ((26, 13)): "Block1",
        ((27, -8)): "Block1",
        ((27, -7)): "Block1",
        ((27, -6)): "Block1",
        ((27, -5)): "Block1",
        ((27, -4)): "Block1",
        ((27, -3)): "Block1",
        ((27, -2)): "Block1",
        ((27, -1)): "Block1",
        ((27, 0)): "Block1",
        ((27, 1)): "Block1",
        ((27, 2)): "Block1",
        ((27, 3)): "Block1",
        ((27, 4)): "Block1",
        ((27, 5)): "Block1",
        ((27, 6)): "Block1",
        ((27, 7)): "Block1",
        ((27, 8)): "Block1",
        ((27, 9)): "Block1",
        ((27, 10)): "Block1",
        ((27, 11)): "Block1",
        ((27, 12)): "Block1",
        ((27, 13)): "Block1",
        ((28, -8)): "Block1",
        ((28, -7)): "Block1",
        ((28, -6)): "Block1",
        ((28, -5)): "Block1",
        ((28, -4)): "Block1",
        ((28, -3)): "Block1",
        ((28, -2)): "Block1",
        ((28, -1)): "Block1",
        ((28, 0)): "Block1",
        ((28, 1)): "Block1",
        ((28, 2)): "Block1",
        ((28, 3)): "Block1",
        ((28, 4)): "Block1",
        ((28, 5)): "Block1",
        ((28, 6)): "Block1",
        ((28, 7)): "Block1",
        ((28, 8)): "Block1",
        ((28, 9)): "Block1",
        ((28, 10)): "Block1",
        ((28, 11)): "Block1",
        ((28, 12)): "Block1",
        ((28, 13)): "Block1",
        ((29, -8)): "Block1",
        ((29, -7)): "Block1",
        ((29, -6)): "Block1",
        ((29, -5)): "Block1",
        ((29, -4)): "Block1",
        ((29, -3)): "Block1",
        ((29, -2)): "Block1",
        ((29, -1)): "Block1",
        ((29, 0)): "Block1",
        ((29, 1)): "Block1",
        ((29, 2)): "Block1",
        ((29, 3)): "Block1",
        ((29, 4)): "Block1",
        ((29, 5)): "Block1",
        ((29, 6)): "Block1",
        ((29, 7)): "Block1",
        ((29, 8)): "Block1",
        ((29, 9)): "Block1",
        ((29, 10)): "Block1",
        ((29, 11)): "Block1",
        ((29, 12)): "Block1",
        ((29, 13)): "Block1",
    },
)